= form_for message, remote: true do |f|
  = f.hidden_field :message_thread_id, value: message.message_thread_id
  = f.text_field :content, placeholder: 'Write new message', class: 'message-input'
  = f.submit 'Send Message'