.message_thread-message{ class: "#{'right-text' if message.performer == current_performer}" }
  .message_thread-message-performer
    - last_message_performer = !index.zero? ? message_thread.messages[index - 1].performer : nil
    = message.performer.public_name unless message.performer == last_message_performer
  .message_thread-message-content
    = message.content
