// Consider only showing generic tags for multiple activities
- tag_meth = activities.count > 1 ? :base_tags : :base_tags
- tags = activities.each_with_object([]) { |act, arr| act.recipient.send(tag_meth).each { |tag| arr.push(tag) } }
- if tags.present?
  - uniq_tags = tags.uniq
  = link_to feats_path(filters: { tags: uniq_tags.map(&:name) }) do
    %i.fa.fa-tags
  - uniq_tags.each_with_index do |tag, index|
    = link_to t("skill_names.#{tag.name}", default: tag.name), feats_path(filters: { tags: [tag.name] })
    = ', ' unless index == uniq_tags.count - 1
