%h1.inl-block
  = "#{other_performer_name(@performer)} Groups"

- if @performer == current_performer
  .group__create-new-link
    = link_to new_group_path do
      %i.fa.fa-fw.fa-plus
      Add New Group
.med-horizontal-border
.groups__list
  - @groups.each do |group|
    .group__wrapper
      = link_to group.name, group_path(group)
