%h1.inl-block
  = "#{@performer.public_name}'s Groups"

.group__create-new-link
  = link_to new_group_path do
    %i.fa.fa-fw.fa-plus
    Add New Group
.med-horizontal-border
.groups__list
  - @groups.each do |group|
    .group__wrapper
      = link_to group.name, group_path(group)
