h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  font-family: Helvetica;
  margin: 0 0 .5em;
}
h3 {
  font-size: 12px;
  color: $dark-gray;
  margin: 5px 0;
  text-transform: uppercase;
}

.hide {
  display: none;
}
.inl-block {
  display: inline-block;
}
.right {
  float: right;
}
.left {
  float: left;
}
.right-text {
  text-align: right;
}
.small-circle {
  font-size: 6px;
  vertical-align: middle;
  padding: 2px;
}
.horizontal-border {
  border-bottom: 1px $dark-gray solid;
}
.med-horizontal-border {
  border-bottom: 1px $dark-gray solid;
  margin: 10px 0px 10px;
}
.lrg-horizontal-border {
  border-bottom: 1px $dark-gray solid;
  margin: 20px 0px 20px;  
}
.subtext {
  font-size: 12px;
  color: $dark-gray;
}
.item__show-name {
  height: 25px;
  display: inline-block;
}
.item__edit-link {
  display: inline-block;
}
.clear_left {
  clear: left;
}
.select2-container--bootstrap {
  width: 100% !important;
}
@mixin dialog() {
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .10);
  background-color: $cloud;
}
@mixin undialog() {
  box-shadow: inherit;
}
.tt-open {
  border-radius: 10px;
}
.tt-suggestion {
  clear: both;
  color: $dark-gray;
  .tt-selectable {
    border-bottom: thin $medium-gray;
  }

  .tt-highlight{
    font-weight: normal;
    color: $slate-blue;
  }
  a {
    color: $dark-gray;
    padding: 5px 10px;
    display: block;
    @include clearfix();

    &:hover {
      background-color: $marine-blue;
      color: white;
      .tt-highlight{
        color: $medium-gray;
      }
    }
  }
  .suggestion_description {
    font-size: 12px;
    color: $dark-gray;
  }
  .suggestion_name {
    color: $medium-gray;
    font-size: 16px;
  }
  img {
    height: 40px;
    width: 40px;
    background-size: cover;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
  }
}
