html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  background-color: $cloud;
}
$max-jumbotron-width: 768px;
.jumbotron {
  float: left;
  background-color: $sand;
  padding: 20px;
  @include clearfix;
  width: 100%;
  max-width: $max-jumbotron-width;
  min-height: 75%;
  border-radius: 3px;
  @media ($screen-sm) {
    width: 75%;
    margin-top: 10px;
  }
  @media ($screen-md) {
    width: 64%;
  }
}
.flash-close-btn {
  padding-top: 2px;
}