.header__search-wrapper
  %form.header__search-form
    %input.typeahead.header__search-input{placeholder: t(".search_placeholder")}

:javascript
  var searchSelector = 'input.typeahead';

  var bloodhound = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    identify: function(obj) { return obj.id; },
    delay: 500,
    remote: {
      url: '/search/',
      prepare: function (query, settings) {
        settings.type =  "GET";
        settings.data = { "query" : query };
        settings.dataType = 'json';

        return settings;
      },
      filter: function(searchData) {
        return $.map(searchData, function (datum) {
          return {
            value: datum.content,
            url: datum.url,
            avatar: datum.avatar,
            name: datum.name,
            description: datum.description,
            searchable_type: datum.searchable_type
          };
        });
      }
    },
    limit: 50
  });
  bloodhound.initialize();


  $('.typeahead').typeahead({
    highlight: true,
    minLength: 3
  },
  {
    name: 'search-results',
    displayKey: 'name',
    limit: 50,
    source: bloodhound.ttAdapter(),
    templates: {
      empty: [
        '<div class="empty-message">',
        'No Results Found',
        '</div>'
      ].join('\n'),
      suggestion: function(data) {
        if (data.searchable_type == 'Feat') {
          var subtext = 'Created by: ';
        } else if (data.searchable_type == 'Group') {
          var subtext = 'Members: ';
        } else {
          var subtext = '';
        }
        return '<div>' +
            '<a href="' + data.url + '">' +
            '<img src="'+ data.avatar + '"/>' +
            '<div class="suggestion_name">' + data.name + '</div>' +
            '<div class="suggestion_description">' + subtext + data.description + '</div>' +
          '</a></div>';
      }
    }
  });