%h1
  Edit Song
= render 'form'
- if current_user.actors.include?(@song.owner)
  = link_to '(delete song)', user_song_path(current_user, @song), method: :delete, data: { confirm: "Are you sure you want to delete #{@song.name}?"}