%h1
  Welcome to Performr!

.med-horizontal-border

%h3
  Recent Activity
.activities__wrapper
  = render partial: 'shared/activities', locals: { activity_grouper: @activity_grouper }
.pagination
  = link_to_next_page @activities, 'Next Page', remote: true