%h1
  Welcome to Guitoire

%p
  Click on 'Users' to find others, or click 'Add Song' to start building your guitoire.

%p
  New Feature! Set Lists! Add from your songs. Drag and drop into the order you want!

%p
  New Feature! Internal messaging. Click the envelope up top or 'messages' on the left sidebar.

%p
  New Feature! You can now add multiple admins to songs, so multiple people can edit and add resources. Collaborate away!

.med-horizontal-border

%h3
  Recent Activity

- @activity_grouper.each do |activities|
  = render_activity(activities[0], locals: { activities: activities }, layout: :activity)