%h1
  Your Workspaces

.performer__create-new-link
  = link_to new_performer_path do
    %i.fa.fa-fw.fa-plus
    Create New Workspace
.med-horizontal-border
.performers__list-wrapper
  - @performers.each do |performer|
    .performer__wrapper.activity__wrapper
      = render partial: 'performers/show', locals: { performer: performer }