.activity__wrapper {
  min-height: 100px;
  background-color: $cloud;
  margin-top: 10px;
  border: $base-border;
  padding: 10px;
  border-radius: 5px;
}
.activity__top-left {
  width: 15%;
  max-width: 70px;
  display: inline-block;
  border-radius: 3px;
}
.activity__top-right {
  max-width: 80%;
  display: inline-block;
  vertical-align: top;
  padding-left: 5px;
}
.activity__content {
  padding-top: 15px;
  padding-left: 15px;
}
.activity__bottom {
  padding-top: 18px;
  font-size: 14px;
  color: $dark-gray;
}

