.activity__wrapper {
  min-height: 100px;
  background-color: $cloud;
  margin-top: 10px;
  border: $base-border;
  padding: 10px;
  border-radius: 5px;
}
.activity__content {
  padding-top: 15px;
  padding-left: 15px;
}
.activity__bottom {
  padding-top: 18px;
  font-size: 14px;
  color: $dark-gray;
}

