.feats {
  padding-top: 10px;
  padding-left: 3px;
}
.feat__resource {
  padding-bottom: 5px;
}
.feat__resource-delete-link {
  display: inline-block;
  padding-left: 20px;
}
#feat_search {
  background-color: white;
  font-size: 14px;
  padding-left: 12px;
  line-height: 24px;
}
.feat__duplicate-link {
  display: inline-block;
}
.feat__play-form {
  display: inline-block;
}
.sort_by-select {
  padding-top: 5px;
  display: inline-block;
}