%h1
  Your Friends

.med-horizontal-border
.performers__list-wrapper
  - @performers.each do |performer|
    .performer__wrapper.activity__wrapper
      = render partial: 'show', locals: { performer: performer }