%h1
  = @user ? "#{@user.public_name}'s Workspaces" : 'Users'

- name_method = @user ? :name : :public_name
- @performers.each do |performer|
  .performer__wrapper
    = link_to performer.send(name_method), performer_songs_path(performer)